body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("images/flag banner.jpeg"); /* change to your image name */
    background-size: cover;         /* Image covers whole screen */
    background-repeat: no-repeat;   /* No repeating */
    background-attachment: fixed;   /* Stays still when scrolling */
    background-position: center;    /* Center the image */
}

header {
    background: #2e7d32;
    color: white;
    padding: 20px;
    text-align: center;
}

/* HERO */
#hero {
    background-size: cover;
    background-position: center;
    padding: 120px 20px;
    text-align: center;
    color: white;
}

#hero .btn {
    background: #ff9800;
    padding: 12px 25px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font-weight: bold;
}

/* SECTIONS */
section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

/* MENU CARD */
#menu .card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: #2e7d32;
}

/* FULL WIDTH IMAGE */
.full-img {
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}

/* GALLERY GRID */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 8px #bbb;
}

/* CONTACT */
#contact {
    text-align: center;
}

/* FOOTER */
footer {
    background: #263238;
    color: white;
    text-align: center;
    padding: 20px;
}
